@import "./config";

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 15px;
}

p,
h1,
h2,
h3,
button,
li,
a {
  font-size: 1rem;
  line-height: 1.5em;
}

body {
  background-color: $off-white;
  min-height: 100vh;
  width: 100vw;
  padding: 2em 0;
  width: 77.5vw;
  margin: auto;
  display: grid;
  align-content: center;
  grid-template-areas:
    "nav nav nav"
    "main main aside"
    "main main aside"
    "footer1 footer2 footer3";
  gap: 2rem;

  & > * {
    max-width: 100%;
  }

  // nav
  .nav {
    @include flex(row, space-between, center, 0);
    grid-area: nav;
    margin-bottom: 1.5rem;

    &__links {
      li {
        display: inline-block;
        list-style-type: none;

        & + li {
          margin-left: 2em;
        }

        a {
          text-decoration: none;
          color: $dark-grayish-blue;

          &:hover {
            color: $soft-orange;
            cursor: pointer;
          }
        }
      }
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: none;
    }

    &__hamburger {
      display: none;
      background-color: $off-white;
      position: fixed;
      top: 0;
      right: 0;
      width: 70vw;
      height: 100vh;
      box-shadow: 0 0 0 1000px hsla(240, 100%, 5%, 0.457);

      li {
        list-style-type: none;
        padding: 0.75em 1.5em;

        &:first-child {
          margin-left: 75%;
          margin-top: 5%;
          margin-bottom: 3rem;
        }

        a {
          color: $very-dark-blue;
          text-decoration: none;
          font-size: 1.2rem;

          &:hover {
            color: $soft-orange;
            cursor: pointer;
          }
        }
      }
    }
  }

  // main
  .main {
    grid-area: main;
    height: fit-content;

    &__img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__text {
      @include flex(row, center, unset, 2rem);
      padding: 2em 1em;

      & > * {
        flex-basis: 50%;
      }

      &__header {
        h1 {
          font-size: 3.75rem;
          font-weight: 800;
          line-height: 1em;
          color: $very-dark-blue;
        }
      }

      &__description {
        @include flex(column, space-between, flex-start, 1.5rem);
        max-height: 100%;

        p {
          color: $dark-grayish-blue;
        }

        button {
          background-color: $soft-red;
          color: $off-white;
          padding: 1em 2em;
          font-size: 0.9rem;
          text-transform: uppercase;
          letter-spacing: 4px;
          border: none;
          outline: none;
          line-height: unset;

          &:hover {
            background-color: $very-dark-blue;
            cursor: pointer;
          }
        }
      }
    }
  }

  // aside
  .aside {
    @include flex(column, unset, unset, 0);
    grid-area: aside;
    background-color: $very-dark-blue;
    padding: 1.75em;

    h1 {
      color: $soft-orange;
      font-size: 2.75rem;
      margin-bottom: 1.5rem;
    }

    &__items {
      @include flex(column, space-between, unset, 0);
      flex-basis: 100%;

      &__item {
        border-bottom: 1px solid $dark-grayish-blue;
        padding: 1.75em 0;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
          border-bottom: 0;
        }

        h2 {
          color: $off-white;
          font-size: 1.35rem;
          margin-bottom: 0.25em;

          &:hover {
            color: $soft-orange;
            cursor: pointer;
          }
        }

        p {
          color: $grayish-blue;
        }
      }
    }
  }

  // footer
  .footer {
    &__item {
      @include flex(row, space-between, center, 1rem);
      height: fit-content;
      margin-top: 2rem;

      &:nth-of-type(1) {
        grid-area: footer1;
      }

      &:nth-of-type(2) {
        grid-area: footer2;
      }

      &:nth-of-type(3) {
        grid-area: footer3;
      }

      &__img {
        img {
          height: 100%;
          width: 100px;
        }
      }

      &__text {
        height: 100%;

        h2 {
          font-size: 2rem;
          color: $grayish-blue;
        }

        h3 {
          color: $very-dark-blue;
          font-size: 1.1rem;

          &:hover {
            color: $soft-red;
            cursor: pointer;
          }
        }

        p {
          color: $dark-grayish-blue;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "nav"
      "main"
      "aside"
      "footer1"
      "footer2"
      "footer3";
    width: 90vw;
  }

  .nav {
    margin-bottom: 0 !important;

    button {
      display: block !important;
    }

    &__logo {
      img {
        width: 50px !important;
      }
    }

    &__links {
      display: none;
    }

    &__hamburger.--active {
      display: block !important;
    }
  }

  .main {
    &__img {
      img {
        content: url("./assets/images/image-web-3-mobile.jpg");
      }
    }

    &__text {
      flex-direction: column !important;
      gap: 1.5rem !important;

      h1 {
        font-size: 2.75rem !important;
      }
    }
  }

  .aside {
    h1 {
      font-size: 2rem !important;
    }
  }

  .footer {
    &__item {
      margin-top: 0 !important;

      &:first-of-type {
        margin-top: 1rem !important;
      }
    }
  }
}
